@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body{
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
.logo{
    font-size: 48px;
    font-weight: 900;
}

.header-links,.copyright{
    font-size: 18px;
    color: #e5e7eb;
}

.footer,.header{
    background-color: #1f2937;
    color: #f9faf8;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;

}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.main{
    flex: 1;
}

ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
    list-style: none;
}

.hero{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9faf8;

}

.lucy-hero{
    width: 350px;
    height: 250px;
}
.info-heading{
    text-align: center;
}

.lucy-info{
    width: 150px;
    height: 150px;
    
}

.info-boxs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.young-lucy, .evil-lucy, .depression-lucy , .cute-lucy{
    border: solid blue;
    border-radius: 10px;
}